:root {
    --blue:#d7f1f7;
    --dark-blue: #2d7fa3;
    --light-bg: #ffffff;

    --alert-bg: #e68995;
    --leader-bg: #d7f1f7;;

    --pill-radius: 40px;

    --bar-light: #d7f1f7;
    --bar-dark: #41b8D5;
}

body {
    margin:0;
    font-family:Arial, sans-serif;
    background:#fff;
}

.pill-bar {
    width: 90%;
    margin: 25px auto 10px;
    padding: auto;
    background: var(--leader-bg);
    border-radius: var(--pill-radius);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    box-sizing: border-box;
}

.pill-bar.alert {
    background: var(--alert-bg);
}

.pill-icon {
    width: 50px;
    height: 50px;
}


.pill-icon-icon {
    width: 50px;
    height: 50px;
}



.goals-row {
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}

.goal-item {
    text-align:center;
    flex:1;
}

.goal-img {
    width:100px;
    height:100px;
}


.circle-ring {
    width:90px;
    height:90px;
    border-radius:50%;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    position:relative;
}

.ring45 {
    border: 9px solid #41b8D5;
    border-right-color: #eee;
}

.ring34 {
    border: 9px solid #41b8D5;
    border-right-color: #eee;
}

.ring67 {
    border: 9px solid #41b8D5;
    border-right-color: #eee;
}

.goal-item p {
    font-weight:bold;
}


.stat-block {
    margin:15px 0;
}

.stat-block span {
    font-weight:bold;
}

.bar {
    width:100%;
    height:30px;
    background:#eee;
    border-radius:10px;
    margin-top:5px;
    overflow:hidden;
}

.fill {
    height:100%;
    background:var(--bar-dark);
}

.fill40 { width:40%; }
.fill55 { width:55%; }
.fill60 { width:60%; }


.content {
    padding: 20px;
    padding-bottom:120px;
}


.bottom-bar {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    background:#fff;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding-bottom:10px;
    z-index:20;
}
.circle-btn {
    width:70px;
    height:70px;
    border-radius:50%;
    background:#d7f1f7;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.icon-img {
    width: 140%;           
    height: 140%;
    object-fit: contain;  
    object-position: center;
    pointer-events: none; 
}
.notif {
    position:absolute;
    top:-5px;
    left:-5px;
    background:#e64b4b;
    color:#fff;
    border-radius:50%;
    width:25px;
    height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.8rem;
}