body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
    padding-bottom: 120px; 
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.pill-bar {
    height: 100px;
    width: 90%;
    margin: 5px auto 10px;
    padding: 10px;
    background: #d7f1f7;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
}

.pill-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.pill-icon-icon {
    width: 400px;
    height: 400px;
    border-radius: 67%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.sub-info {
    text-align: center;
    font-size: 1rem;
    margin-top: 8px;
    line-height: 1.4;
}

.profile-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #d7f1f7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.star-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
}


.star {
    width: 100px;
    height: 100px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-img {
    width: 140%;
    height: 140%;
    object-fit: contain;
}

.badges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 25px auto;
    max-width: 100%;
}

.badges img {
    height: 80px;
    object-fit: contain;
}

.actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 25px auto;
    max-width: 95%;
}

.actions img {
    height: 60px;
    object-fit: contain;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: 190px;
    object-fit: contain;
    border-radius: 8px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
    z-index: 20;
}
.circle-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d7f1f7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.icon-img {
    width: 140%;
    height: 140%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
}
.notif {
    position: absolute;
    top: -5px;
    left: -5px;
    background: #e64b4b;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}